
.list-view .list-cell {
    -fx-background-color: rgba(150, 123, 111, 0.65);
}

.scroll-bar {
    -fx-background-color: transparent;
    -fx-background-radius: 1em;
}

.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:vertical .track-background {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .increment-arrow {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .decrement-arrow {
    -fx-background-color: transparent;
}

.scroll-bar:vertical:focused {
    -fx-background-color: transparent, grey, grey;
}