.button {
    -fx-background-color: #1c1c1c;
    -fx-text-fill: #dee0df;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.text-field {
    -fx-background-color: #979b97;
    -fx-text-fill: #2b170c;
    -fx-prompt-text-fill: #dee0df;
    -fx-border-radius: 5;
    -fx-border-color: #1c1c1c;
    -fx-border-width: 1.5;
    -fx-background-radius: 5;
}

.label {
    -fx-font-family: "Trattatello";
}